body{
font-family:Arial;
margin:0;
background:#E6E6FA;
text-align:center;
}

nav{
background:#333;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
}

section{
background:rgb(74, 45, 72);
margin:20px;
padding:20px;
border-radius:10px;
}

button{
padding:10px 20px;
background:#007BFF;
color:white;
border:none;
border-radius:5px;
}